.content-styling {
    height: 550px;
    width: 220px;
    border: 2px solid black;
    border-radius: 8px;
}

.bockImages-styling img {
    height: 100px;
    width: 100px;
}

.icons {
    height: 16px;
    width: 16px;
}