html {
    /* background-color: grey; */
    /* color: white; */
}

body {
    /* color: blue; */
}

.content-styling {
    height: 550px;
    width: 250px;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 8px;
    margin: 24px;
    display: flex;
}

.content-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bookImages-styling {
    height: 80px;
    width: 80px;
}

svg.toggle path {
    fill: red;
}

.svg_location {
    width: 24px;
    height: 24px;
}


.icons {
    height: 12px;
    width: 12px;
}

/* .more {
    display: none;
} */

.scrollbar {
    border: black solid 2px;
    border-radius: 8px;
    height: 100px;
    overflow: auto;

    margin-top: 16px;
    margin-bottom: 16px;
}