* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

header {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    background-color: floralwhite;
    font-family: "Figtree";
}

.header-footer-styling {
    display: flex;
    justify-content: center;
}

.box-shadow {
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    /* box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3); */
}

body {}

.pointer {
    cursor: pointer;
}

.main-content-books-styling {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
}

.content-styling {
    height: 580px;
    width: 250px;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 8px;
    margin: 24px;
    display: flex;
    padding: 16px;
    background-color: ghostwhite;
}

.content-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Figtree";
}


.center-content {
    display: flex;
    justify-content: center;
    background-color: floralwhite;
}

.padding-margin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.bookName-bookImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
}

.divider-line {
    border-bottom: 3px solid #7de35b;
}

.bookImages-styling {
    height: 100px;
    width: 100px;
}

.price-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 16px;
}

.price-position p {
    margin-bottom: 8px;
}


.likeNumber-likeButton {
    display: flex;
    align-items: center;
    gap: 8px;
}


.book-details {
    font-size: 12px;
}

.margin_bottom_general {
    margin-top: 16px;
    margin-bottom: 16px;
}


.book-details p {
    margin-bottom: 8px;
}

svg.toggle path {
    fill: red;
}

.svg_location {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}


.icons {
    height: 14px;
    width: 14px;
}

/* .noComments {
    display: none;
} */

.comments-scrollbar {
    border: black solid 2px;
    border-radius: 8px;
    height: 140px;
    overflow: auto;

    margin-bottom: 16px;
    font-size: 12px;


}

.a-style {
    border: none;
    margin-left: 4px;
}

/* like the header */
footer {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    background-color: floralwhite;
    font-family: "Figtree";
}