html {}

body {}

.pointer {
    cursor: pointer;
}

.main-content-books-styling {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
}

.content-styling {
    height: 580px;
    width: 250px;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 8px;
    margin: 24px;
    display: flex;
    padding: 16px;
}

.content-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Figtree";
}


.center-content {
    display: flex;
    justify-content: center;
}

.padding-margin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.bookName-bookImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
}

.divider-line {
    border-bottom: 3px solid #c7e8bc;

}

.bookImages-styling {
    height: 100px;
    width: 100px;
}

.price-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.bold {
    font-weight: 500;
}

.likeNumber-likeButton {
    display: flex;
    align-items: center;
    gap: 8px;
}


.book-details {
    font-size: 12px;
}

svg.toggle path {
    fill: red;
}

.svg_location {
    width: 24px;
    height: 24px;
}


.icons {
    height: 14px;
    width: 14px;
}

/* .noComments {
    display: none;
} */

.comments-scrollbar {
    border: black solid 2px;
    border-radius: 8px;
    height: 140px;
    overflow: auto;

    margin-bottom: 16px;
    font-size: 12px;


}


.a-style {
    border: none;
    margin-left: 4px;
}